@{
    ViewData["Title"] = "Восстановление пароля";
}

<div style="width: 500px; margin: 200px auto;">
    <h1 style="text-align: center; margin-bottom: 40px;">Восстановление пароля</h1>

    @if (ViewBag.Error != null)
    {
        <div style="margin-bottom: 15px; text-align: center;">@ViewBag.Error</div>
    }
    @if (ViewBag.Message != null)
    {
        <div style="margin-bottom: 15px; text-align: center;">@ViewBag.Message</div>
    }

    <div style="width: 300px; margin: 0 auto;">
        <form asp-action="PasswordUpdate" method="post" style="display: flex; flex-direction: column;">
            <label style="margin-bottom: 5px;">Введите email:</label>
            <input type="email" name="email" style="margin-bottom: 15px;" />

            <label style="margin-bottom: 5px;">Введите новый пароль:</label>
            <input type="password" name="newPassword" style="margin-bottom: 20px;" />

            <button type="submit" style="margin-top: 15px;">Сохранить</button>
        </form>
    </div>

    <div style="margin-top: 15px; text-align: center;">
        <a href="/Main/Authorization">Авторизация</a>
    </div>
</div>